* {
    margin: 0;
    padding: 0;
}
body {
    
    display: flex;
    flex-direction: column;
} 
/* Header nav */
header {
    background-color: #1f2937;
    max-height: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 250px 4px 250px;
}
nav ul li {
    opacity: .7;
}
a,.logo{
    font-size: 22px;
    color: white;
    list-style: none;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 12px;
}
/* top content */
.top {
    display: flex;
    background-color: #1f2937;
    border: 3px solid red;
    gap: 12px;
    height: 35vh;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;

}
.top-left {
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    width: 340px;
    height: 220px;


}
p {
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
    opacity: .7;

}
h1 {
    font-size: 48px;
    color: white;
}
.top-button {
    width: 120px;
    padding: 4px;
    background-color: skyblue;
    color: white;
}
.top-right img {
    width: 450px;
    height: 220px;
}
/* top middle image section */
.top-middle {
    display: flex;
    height: 350px;
    flex-direction: column;
    background-color: lightpink; 
    justify-content: center;
    border: 3px solid black;
}
.image-container img {
    height: 140px;
    width: 140px;
    border-radius: 14px;
   
}
.four-images {
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    height: 300px;
    border: 3px solid red;
    gap: 22px;
}
.image-container {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    align-items: center;
    width: 150px;
    justify-content: center;
    
}
.top-middle-title {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    flex-direction: row;
   
    
}
/* Bot mid quote */
.bottom-middle {
    height: 350px;
    border: 3px solid yellow;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.quote-container {
    border: 2px solid purple;
    display: flex;
    width: 450px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    
}
.bottom-middle-quote {
    font-size: 26px;
    border: 2px solid red;

    
}
.bottom-middle-quote-author {
    font-weight: bold;
    margin-left: 220px;
    border: 1px solid blue;
    
    
    


    